body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup{
    width: 100%;
    max-width: 50rem;
    background-color: white;
    border-radius: 10px;
    padding: 5.5rem 3.5rem;
}
.signup_heading{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}
.signup_already{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
}
.signup_link{
    color: #4779ff;
    font-size: inherit;
}
.signup_link-under{
    text-decoration: none;
}
.form_group{
    margin-bottom: 1.5rem;
    position: relative;
}
.form_group--2{
    display: flex;
    justify-content: space-between;
}
.form_input{
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: .25s ease;
}
.form_input:focus{
    border-color: #6a5af9;
}
.form_label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: .25s ease;
}
.form_input:focus + .form_label{
    top: 0;
    background-color: white;
    display: inline-block;
    padding: 0 10px;
}


.form_group--2 > .form_input{
    width: calc(50% - 2.5px);
}
.form_input::-webkit-input-placeholder{
    color: #ccc;
    font-style: italic;
}
.form_input::-moz-input-placeholder{
    color: #ccc;
    font-style: italic;
}
.form_input::-ms-input-placeholder{
    color: #ccc;
    font-style: italic;
}
.form_submit{
    border-radius: 10px;
    color: white;
    background-color: #4779FF;
    padding: 1.5rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_submit-text{
    margin: 0 auto;
}
.form_ckcheck{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #202020;
}
.btn-gg{
    width: calc(50% - 5px);
    
}
.local_btn-log{
    margin-bottom: 10%;
}